.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}
.hover-tabs-wrapper {
  width: 100%;
  min-height: 100px;
  background-color: gainsboro;
  border: 1px solid black;
  align-content: center;
}

.hover-tabs-links-wrapper {
  width: 100%;
  min-height: 100px;
}
.hover-tabs-links {
  font-size: larger;
  border: none;
  background-color: gainsboro;
  padding: 20px;
  min-height: 100px;
  cursor: pointer;
}
.hover-tabs-links:hover {
  background-color: grey;
  color: aliceblue;
}
.tabs-links-contents {
  min-height: 150px;
  border: 1px solid black;
  width: 100%;
}
