.content-title {
  font-size: 25px;
}
.hover-tabs-content {
  font-size: large;
}
.hoverTabs-content-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  width: 40%;
  background-color: red; */
}
